{% extends 'shop/base.html' %}
{% block content %}

<form class="row" method="post" enctype="multipart/form-data">
    <div class="col-4"></div>
    <div class="col-4 mb-4">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    Верификация
                </h4>
            </div>
            <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success">проверить</button>
            </div>
        </div>

    </div>
    </div>
</form>

{% endblock %}