{% extends 'shop/base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}

<div class="row text-start">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <img class="img-fluid rounded mx-auto d-block" src="{{ img | my_media }}">
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card-body">
            <h2 class="my-1 font-weight-normal"> {{ title }} </h2>
            <h4>{{ category}}</h4>
            <h4>{{ price | floatformat:0 }} ₽.</h4>
            <p class="">Доставка в п. Мостовской: от 200 руб.</p>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card-body">
            <h2 class="my-1 font-weight-normal"> {{ title }} </h2>
            <h4>{{ category}}</h4>
            <h4>{{ price | floatformat:0 }} ₽.</h4>
            <p class="">Доставка в п. Мостовской: от 200 руб.</p>
        </div>
    </div>
</div>

{% endblock %}