{% extends 'shop/base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    {% for object in page_obj %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
            </div>
            <div class="card-body">
                <h3 class="card-title pricing-card-title m-3">{{ object.price | floatformat:0 }} руб.</h3>
                <p class="pricing-card-title m-3">Сотрудник  {{ object.employee | default:"- не назначен"}}</p>
                <img class="img-fluid rounded mx-auto d-block" src="{{ object.Imag | my_media }}"
                     style="max-height:350px">
                <a class="btn mt-3 btn-lg btn-block btn-outline-primary form-control"
                   href="{% url 'shop:flowers_detail/' object.pk %}"
                   role="button">
                    Подробно
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="container-fluid m-3">
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Первая</a>
                    <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">следующая</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}