{% extends 'shop/base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    {% for object in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
            </div>
            <div class="card-body">
                <h3 class="card-title pricing-card-title">{{ object.price | floatformat:0 }} руб.</h3>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>
                        <img class="img-fluid rounded mx-auto d-block" src="{{ object.Imag | my_media }}">
                    </li>
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'shop:detail_info/' object.pk %}"
                       role="button">
                        Подробно
                    </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}