{% extends 'shop/base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    {% for object in object_list %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
            </div>
            <div class="card-body">
                <h3 class="card-title pricing-card-title">{{ object.price | floatformat:0 }} руб.</h3>
                <img class="img-fluid rounded mx-auto d-block" src="{{ object.Imag | my_media }}">
                <a class="btn mt-3 btn-lg btn-block btn-outline-primary form-control"
                   href="{% url 'shop:detail_info/' object.pk %}"
                   role="button">
                    Подробно
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="container-fluid">
        {% include "shop/includes/inc_pagination.html" with page=bouquets%}
    </div>
</div>
{% endblock %}